
img.center3 {
    top: 0%;
    z-index: 2;
    position: fixed;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
img.center1 {
    top: 0%;
    position: fixed;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
section.bg{
    top:0;
    position: absolute;
    width: 100%;
    height:100vh;
}
section.clip{
    position: absolute;
    top:0;
    width: 100%;
    height:100vh;
    margin: auto;
    clip-path: polygon(calc(50vw - 110px) calc(50vh - 150px),
     calc(50vw - 110px) calc(50vh + 150px),
      calc(50vw + 115px) calc(50vh + 150px), 
      calc(50vw + 115px) calc(50vh - 150px));
}

section.clip img { 
    filter: brightness(60%);
    z-index: 1;
    position:relative;
    width:100vw;
    top:0;
    left:-8;
    right:0;
    bottom:0;
    margin-left:auto;
    margin-right:auto;
}
section.bg img {
    filter: blur(2px) grayscale(1) brightness(30%);
    z-index: 0;
    position:relative;
    width:100vw;
    top:0;
    left:-8;
    right:0;
    bottom:0;
    margin-left:auto;
    margin-right:auto;
}

section.stamps img {
    position:fixed;
    height:400px;
    width:400px;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
}
section.stamps {
    position: fixed;
    width: 100%;
    height:100vh;
    top:0;
}

section.stampcont {
    position: relative;
    width: 100%;
    height:300vh;
    top:0;
}


.container{
    position:relative;
    height:200px;
    padding: 200px;
    align-items: center;
    text-align: center;
}

.container p{
    color:antiquewhite;
}

section.collection{
    position:fixed;
    top: 0;
    height: 100vh;
    background-image: url(./asset/bg.jpeg); 
}
body{
    background-color: #841918;
}

div.text{
    position: sticky;
    z-index: 3;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
}

h1{
    color: antiquewhite;
}